header{
    background: #BBBBBB;
    padding: 20px;
}

.encabezado{
    position: relative;
    margin: 0 auto;
    width: 940px;
}
nav{
    position: absolute;
    top: 125px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
    
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}


#banner{
    width:100%;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color:red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.items{
    font-style: italic;
}

.lista-items{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 13px;
}


